#add-product-btn {
    margin-left: 1000px;
    margin-top: 15px;
    background-color: #50C878;
    border-radius: 8px;
}
#delete-product-btn {
    margin-top: 15px;
    margin: 15px;
    background-color: #F08080;
    border-radius: 8px;       
}
#heading {
    margin-left:10px;
    margin-top: 5px;
    font-size: 25px;
}
#horizontal-line {
    border: none;
    border-top: 3px solid;  
}
#save-product-btn {
    margin-left: 1000px;
    margin-top: 15px;
    background-color: #50C878;
    border-radius: 8px;
}
#cancel-product-btn {
    margin-top: 15px;
    margin: 15px;
    background-color: #F08080;
    border-radius: 8px;       
}
#heading2 {
    margin-left:10px;
    margin-top: 5px;
    font-size: 25px;
}
#horizontal-line2 {
    border: none;
    border-top: 3px solid;  
}
input[type=text] {
    width: 20%;
  padding: 1px 3px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.data {
  display: none;
}
.data2 {
  display: none;
}